header.masthead {
  height: 800px;
  background-image: url("../img/profile.JPG");
  background-size: cover;
  background-color: #148f763a !important;
  background-position: 50% 50%;
  background-blend-mode: darken;
}

header.masthead img {
  opacity: 0.5;
}

header.masthead div.background-box {
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #a0a0a08a;
}

header.masthead div.background-box p {
  color: white;
}

.portfolio-item {
  max-height: 200px;
}

/*Cookie Consent Begin*/
#cookieConsent {
  background-color: rgba(20, 20, 20, 0.8);
  min-height: 26px;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  padding: 40px 0 40px 30px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
  text-align: center;
}

#cookieConsent a {
  color: #4B8EE7;
  text-decoration: none;
}

#cookieConsent a.cookieConsentOK {
  background-color: #F1D600;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
  background-color: #E0C91F;
}

/*Cookie Consent End*/
